/* CURRENTLY IN: styles/main.css */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.tst { display: inline-block; }

/*****************  Boilerplate Styling  *************************/

* {
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
    background-color: #FFF;
}

/*****************   Custom CSS Styling  **************************/


/******************************************
/* HEADER
/*******************************************/


.flex-container {
	display: flex;
	justify-content: center;
}

./*logo {
	overflow: hidden;
}

.logo-container {
	float: left;
	display: block;
    padding: 50px 120px 10px 50px; 
}*/

/******************************************
/* INVISIBLE SIDEBAR
/*******************************************/

#sidebar-space {
	display: inline-block;
  	width: 20%;
  	height: 100%;
  	float: left;
}

#sidebar-space ul {
	content: center;
}

/*******************************************/
/*NAV BAR*/
/*******************************************/
/*
#nav {
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
	margin-right: 30px;
	border-bottom: 2px white;
	margin-bottom: 30px;
}
*/
/*.nav {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	list-style-type: none;
	margin: 10px 0 0 0;
	border-bottom: 2px white;
	border-bottom: 2px white;
	margin-bottom: 30px;
}*/

/*.nav-aTags {
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	margin-right: 30px;
	font-size: 16px;
	text-decoration: none;
    list-style-type: none;
    color: #848482;
}*/

.nav {
	width: 100%;
	height: 100px;
	margin: 0 0 0 25px;
	position: relative;
	background-color: #E0FFFF;
}

.nav__container {
	width: 100%;
	padding: 80px 0 0 0;
	text-decoration: none;
}

.menu--spaceRight {
	padding: 0 35px 0 0;
}

.nav__menu--links {
	font-family: 'Quicksand', sans-serif;
	display: inline-block;
	margin-right: 7px;
	font-size: 17px;
}

.nav__logo {
	position: absolute;
	top: 3.8em;
	left: 2em;
}

a {
	text-decoration: none;
	color: #43BFC7;
}


a:link {
    background-color: transparent;
}

a:visited {
    background-color: transparent;
}

a:hover {
    background-color: transparent;
    color: #00FFFF;
}

a:active {
    background-color: transparent;
}

.removeDefaultUnderline {
	text-decoration: none;
}

.h-line {
	width: 100%;
	height: 5px;
	background: #00FFFF;
}

.h-line-2 {
	width: 100%;
	height: 15px;
	background: #CCFFFF;
}

.h-line-3 {
	width: 100%;
	height: 35px;
	background: #FFFFC2;
}


/******************************************
/*CATEGORIES
/*******************************************/

.categories {
	font-family: 'Roboto', sans-serif;
	float: left;
}


.categories-aTags {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-decoration: none;
	float: left;
	margin: 10px 0 0 0;
	list-style-type: none;
    color: #B6B6B4;
}

.tutorialDefault {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

/*Create a horizontal list with spacing*/
.tutorialDefaultLinks {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

.test {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: 'Quicksand', sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}


/*******************************************/
/***DROPDOWN***/
/*******************************************/









/*******************************************/
/*PORTFOLIO GRID*/
/*******************************************/

.grid {
	width: 100%;
	height: 70vh;
	background: none;
}

.grid__container {
	width: 90%;
	background: none;
	float: right;
}

.grid__items {
	width: 100%;
	height: 70vh;
	background-color: none;
}

.grid__items-box {
	float: left;
	width: 30%;
	background: none;
	height: 55vh;
}


.grid__items-box2 {
	float: left;
	width: 30%;
	background: none;
	height: 50vh;
}


.grid__items-box3 {
	float: left;
	width: 30%;
	background: blue;
	height: 50vh;	
}


.grid__items--spaceRight {
	margin: 0 10px 0 0;
}

.grid__items {
	padding: 5em 0 0 25em;
}

.grid__item-portfoliopiece {  
}

.text-description {
	font-family: 'Roboto', sans-serif;
	display: block;
	font-size: 13px;
	text-align: left;
	line-height: 130%;
	padding: 10px 0 0 30px;
}

.grid__item-img {
	display: block;
	margin: 0 auto;
}


/*
.grid-container {
	width: 100%;
	margin-left: 125px;
	margin: 95px 0 20px 0px;
}


.box {
	display: inline-block;
	float: left;
	text-align: left;
   	margin: 0 10px 110px 10px;
}
*/
/*.box img {
	display: block;
	margin: 0 auto;
}*/



}
/*******************************************/
/*EACH PAGE*/
/*******************************************/

.categories-aTags-light{
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	text-align:center;
	text-decoration: none;
    list-style-type: none;
    color: 848482;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 140%;
	display: block;
	margin: auto;
}

.descriptions {
	font-family: 'Roboto', sans-serif;
	height: 550px;
	width: 60%;
	font-size: 18px;
	text-align: justify;
	display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
	color: #2C3539;
}


/******************************************
/*CONTACT FORM*/
/*******************************************/

.contact-form {
	float: left;
}

input {
width: 100%;
height: 30px;
}

input[type=“text”] {
width: 80%;
border:solid 1px #333;
}

input[type=“email”] {
width: 300px;
padding: 15px;
}

/******************************************
/*POPUP*/
/*******************************************/
.popup {
	display: none; /* hidden on first load */
	position: fixed;
	/* etc kelley...remember the rock paper scissros */
}
/******************************************
/*FOOTER*/
/*******************************************/

 .h-line-3-footer {
	width: 100%;
	height: 55px;
	display: block;
	background: #00FFFF;
}

/*.footer-content {
  color: #848482;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  text-align: left;
  padding-left: 35px;
  padding-top: 25px;
  margin-top: 10px;
}*

