/* CURRENTLY IN: styles/main.css */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.tst { display: inline-block; }

/*****************  Boilerplate Styling  *************************/

* {
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
    background-color: #FFF;
}

/*****************   Custom CSS Styling  **************************/


/******************************************
/* HEADER
/*******************************************/


.flex-container {
	display: flex;
	justify-content: center;
}

/******************************************
/*LANDING PAGE STRIPES
/*******************************************/

.h-line-4 {
	width: 100%;
	height: 45px;
	background: #F0FFFF;
}

.h-line-5 {
	width: 100%;
	height: 65px;
	background: #93FFE8;
}

.h-line-6 {
	width: 100%;
	height: 25px;
	background: #5EFB6E;
}

.h-line-7 {
	width: 100%;
	height: 10px;
	background: #00FFFF;
}

.h-line-8 {
	width: 100%;
	height: 50px;
	background: #FFFF00;
}

.h-line-9 {
	width: 100%;
	height: 20px;
	background: #9AFEFF;
}

.h-line-10 {
	width: 100%;
	height: 5px;
	background: #00FFFF;
}

.h-line-11 {
	width: 100%;
	height: 8px;
	background: #FCDFFF;
} 

.h-line-12 {
	width: 100%;
	height: 5px;
	background: #F0FFFF;
}

/******************************************
/* INVISIBLE SIDEBAR
/*******************************************/

#sidebar-space {
	display: inline-block;
  	width: 20%;
  	height: 100%;
  	float: left;
}

#sidebar-space li {
	margin: 0 0 0 70px;
}

/*******************************************/
/*NAV BAR*/
/*******************************************/

.nav {
	width: 100%;
	height: 100px;
	position: relative;
	background-color: #E0FFFF;
}

.nav__container {
	width: 100%;
	padding: 80px 0 0 265px;
	text-decoration: none;
}

.menu--spaceRight {
	padding: 0 50px 0 0;
}

.nav__menu--links {
	font-family: 'Raleway', sans-serif;
	display: inline-block;
	margin-right: 0px;
	font-size: 17px;
}

.nav__logo {
	position: absolute;
	top: 3.8em;
	left: 2em;
}

a {
	text-decoration: none;
	color: #000;
}


a:link {
    background-color: transparent;
}

a:visited {
    background-color: transparent;
}

a:hover {
    background-color: transparent;
    color: #00FFFF;
}

a:active {
    background-color: transparent;
}

.removeDefaultUnderline {
	text-decoration: none;
}

.h-line {
	width: 100%;
	height: 5px;
	background: #00FFFF;
}

.h-line-2 {
	width: 100%;
	height: 15px;
	background: #CCFFFF;
}

.h-line-3 {
	width: 100%;
	height: 35px;
	background: #FFFFC2;
}

/******************************************
/*DROP DOWN MENUS*
/*******************************************/


.categories-aTags {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-decoration: none;
	float: left;
	margin: 10px 0 0 0;
	list-style-type: none;
    color: #B6B6B4;
}

.tutorialDefault {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

.tutorialDefaultLinks {
	display: block;
}

.test {
	display:block;
	min-width:140px;
	height: 23px;
	font-size: 15px;
	text-align: left;
	line-height: 65px;
	font-family: 'Raleway', sans-serif;
	color: #3B9C9C;
	text-decoration: none;
}

/*******************************************/
/*PORTFOLIO GRID*/
/*******************************************/

.grid {
	width: 100%;
	height: 70vh;
	background: none;
	margin: 30px 0 0 0;
}

.grid__container {
	width: 90%;
	background: none;
	float: right;
}

.grid__items {
	width: 100%;
	height: 70vh;
	background-color: none;
}

.grid__items-box {
	float: left;
	width: 30%;
	background: none;
	height: 55vh;
}


.grid__items-box2 {
	float: left;
	width: 30%;
	background: none;
	height: 50vh;
}


.grid__items-box3 {
	float: left;
	width: 30%;
	background: blue;
	height: 50vh;	
}


.grid__items--spaceRight {
	margin: 0 10px 0 0;
}

.grid__items {
	padding: 5em 0 0 25em;
}

.grid__item-portfoliopiece {  
}

.text-description {
	font-family: 'Roboto', sans-serif;
	display: block;
	font-size: 13px;
	text-align: left;
	line-height: 130%;
	margin: 10px 0 0 25px;
}

.grid__item-img {
	display: block;
	margin: 0 auto;
}



/*.grid-container {
	width: 100%;
	margin-left: 125px;
	margin: 95px 0 20px 0px;
}*/


.box {
	display: inline-block;
	float: left;
	text-align: left;
   	margin: 0 10px 110px 10px;
}

/*.box img {
	display: block;
	margin: 0 auto;
}*/

/*******************************************/
/*EACH PAGE*/
/*******************************************/

/*.categories-aTags-light{
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	text-align:center;
	text-decoration: none;
    list-style-type: none;
    color: 848482;
}*/

p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 140%;
	display: block;
	margin: auto;
}

.descriptions {
	font-family: 'Roboto', sans-serif;
	height: 550px;
	width: 60%;
	font-size: 18px;
	text-align: justify;
	display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
	color: #2C3539;
}

.long-descriptions {
	font-family: 'Roboto', sans-serif;
	height: 550px;
	width: 50%;
	margin: 100px 0 0 400px;
	font-size: 19px;
	text-align: justify;
	display: block;
	color: #2C3539;
}

.photos {
	margin: 0 auto;
	width: 75%;
	display: stack;
}

.minutiae-links ul li {
	font-family: 'Raleway', sans-serif;
	display: block;
	text-align: left;
	margin: 100px 0 0 600px;
	font-size: 30px;
	color: #3B9C9C;
}


/******************************************
/*CONTACT FORM*/
/*******************************************/

.contact-form {
	float: left;
}

input {
width: 100%;
height: 30px;
}

input[type=“text”] {
width: 80%;
border:solid 1px #333;
}

input[type=“email”] {
width: 300px;
padding: 15px;
}

/******************************************
/*POPUP*/
/*******************************************/
.popup {
	display: none; /* hidden on first load */
	position: fixed;
	/* etc kelley...remember the rock paper scissros */
}

.popup__container {
	width: 100%;
	margin: 30px 0 0 100px;
}

.popup-descriptions-leftside {
	width: 250px;
	text-align: left;
	line-height: 15px;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-align: left;
	display: block;
 	margin: 50px 0 0 15px;
	color: #726E6D;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	font-weight: 300;
	text-align: left;
	display: block;
 	margin: 3px 0 0 15px;
	color: #726E6D;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	text-align: justify;
	display: block;
	margin: 16px 0 0 15px;
	color: #726E6D;
}

/*.portfolio-container-rightside {
	margin: 20px 40px 20px 30px;
}*/

.popup-portfolio-pieces {
	width: 100%;
	margin: 20px 40px 20px 30px;
	display: inline-block;
}

.text-description-popup {
	font-family: 'Roboto', sans-serif;
	display: block;
	font-size: 13px;
	text-align: left;
	line-height: 130%;
	padding: 10px 20px 40px 0px;
	color: #726E6D;
}
/******************************************
/*FOOTER*/
/*******************************************/

 .footer {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	background-color: #E0FFFF;
	margin: auto;
}

 .bottom-info {
	font-family: 'Raleway', sans-serif;
 	font-size: 15px;
 	text-align: center;
 	padding: 42px;
 	color: #000;
}
